:root{
    --curved-background-color: #C7ACDA;
    --red-color : #EB5757;
    --blue-color: #0096c7;
    --dark-blue-color: #02789e;
    --gray-color: #BDBDBD;
    --gray-dark-color: #666666;
    --white-color: #fff;
}